.passwordContainer {
  width: 100%; 
}

.passwordInput {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordInput input {
  width: 100%;
}


.passwordInput p {
  position: absolute;
  right: 13px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}