.button{
    padding: 0.5rem 3rem;
    font-size: 1.1rem;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.default{
    background-color: grey;
}

.red{
    background-color: #f11d32;
}

.green{
    background-color: #1ec745;
}

.blue{
    background-color: rgba(21, 193, 255, 0.765);
}

.pink{
    background-color: rgb(191, 54, 111);
}