.container {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
}

/* Barra lateral */
.sidebar {
  width: 200px;
  background: #f4f4f4;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.sidebarBtn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  text-align: left;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s;
}

.sidebarBtn:hover {
  background: #ddd;
}

.active {
  background: #bbb;
  font-weight: bold;
}

/* Contenido principal */
.main {
  flex: 1;
  padding: 20px;
}

h1{
    color: rgba(23, 77, 204, 0.993);
    text-align: center;
}

input{
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 197);
    padding: .5rem;
    max-width: 100%;
}
